h1 {
  text-align: center;
}


hr {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
}

.page-divs {
  height: 500px;
}

.my-image {
  width: 200px;
}
.thumb-nail{
  width: 200px;
  height: 200px
}
.menubar {
  font-size: 15pt;
  background: transparent;
}

body {
  background-image: url("http://www.ttgrafix.co.uk/images/bg-main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: white;
}

#home {
  vertical-align: middle;
  margin-right: 25%;
  margin-left: 25%;
}

#aboutme {
  background: ;
  margin-right: 25%;
  margin-left: 25%;
}

#portfolio {
  background: ;
  margin-right: 25%;
  margin-left: 25%;
}

#contact {
  background: ;
  margin-right: 25%;
  margin-left: 25%;
}

#all{
  color: white;
}