
hr {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
}

.parent {
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 10%;
}

.my-image {
  width: 200px;
}
.thumb-nail{
  width: 200px;
  height: 200px
}

body {
  background-image: url("bg-main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: white;
}
